# Entorno virtual
virt/

# Archivos de base de datos
db.sqlite3

# Archivos compilados de Python
**/__pycache__/
**/*.pyc

# Archivos de medios (imágenes subidas por el usuario)
media/

# Archivos de migración compilados
miembros/migrations/*.pyc
theblog/migrations/*.pyc

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de configuración local (por si usas variables de entorno)
.env

# Archivos generados por pipenv
Pipfile.lock

# Archivos estáticos compilados (si los generas en producción)
static/theblog/css/
static/theblog/js/

# Imágenes temporales (si deseas evitar imágenes locales en el repositorio)
static/theblog/images/*.jpeg
