{% extends 'base.html' %}
{% block title %}
    Acerca de
{% endblock %}
{% block content %}
    <div class="about-section">
        <br/><br/>
        <h4>Bienvenidos a OpenBits</h4>
        <br/>
        <p>El blog "OpenBits" es un espacio dedicado a la comunidad de entusiastas del código abierto y los sistemas basados en Linux. Nuestro objetivo es compartir conocimiento, recursos, y experiencias sobre el software de código abierto, promoviendo la colaboración y el aprendizaje mutuo.</p>
    
        <p>En "OpenBits", creemos en el poder del conocimiento compartido y la filosofía del software libre como una herramienta para la innovación. Publicamos artículos, guías, tutoriales y noticias sobre Linux, distribuciones populares, aplicaciones útiles y soluciones abiertas que pueden beneficiar a usuarios de todos los niveles, desde principiantes hasta expertos.</p>
    
        <p>El propósito del blog es fomentar la adopción del código abierto y ayudar a aquellos interesados en conocer cómo Linux y el software libre pueden impactar positivamente en sus vidas y proyectos. Además, brindamos un espacio para el intercambio de ideas, donde la comunidad puede compartir sus experiencias, aprender de los demás y ser parte del movimiento global del código abierto.</p>
    
        <p>¡Únete a nosotros en este viaje hacia un futuro más abierto, colaborativo y transparente!</p>
    </div>
{% endblock %}