{% extends 'base.html' %}

{% block content %}

{% if category_posts %}
    <h1>{{ cats }}</h1>

    <ul>
        {% for post in category_posts %}
            <li><a href="{% url 'detalle-articulo' post.pk %}">
                {{ post.title }}</a> 
                {{post.author }} -
                {{ post.post_date }} -
                <small>
                    {% if user.is_authenticated %}
                    
                        <a href="{% url 'editar-articulo' post.pk %}">(Editar Post)</a>
        
                        <a href="{% url 'eliminar-articulo' post.pk %}">(Eliminar Post)</a>
                        
                    {% endif %}
                </small><br/>
                {{ post.body }}</li>
        
        {% endfor %}
    </ul>
{% else %}
    <h2>Esta página no existe...</h2>
{% endif %}

{% endblock %}