{% extends 'base.html' %}
{% block title %}
    Contacto
{% endblock %}
{% block content %}
    <div class="about-section">

        <br/><br/>
        <h4>Contacto</h4>
        <br/>

        <p>En la sección de Contacto, queremos escuchar tus ideas, sugerencias y opiniones. ¡Tu retroalimentación es muy importante para nosotros!</p>

        <p>Si tienes preguntas sobre código abierto, Linux, o simplemente quieres conectar con otros entusiastas, no dudes en ponerte en contacto con nosotros. Estamos aquí para ayudarte a resolver dudas, recibir propuestas de colaboración o simplemente compartir el entusiasmo por el software libre.</p>

        <p>Puedes enviarnos un correo electrónico y estaremos encantados de responderte. Juntos, construimos una comunidad más abierta y colaborativa.</p>
        <br/>
        <h4>Creador del blog - Franco Mugnier | Email: francogabrielmugnier1998@gmail.com</h4>
    </div>
{% endblock %}