{% extends 'base.html' %}

{% block content %}
<br/>
<h1>Publicaciones...</h1>
<ul>
{% for post in object_list %}
    <li><a href="{% url 'detalle-articulo' post.pk %}">
        {{ post.title }}</a> 
        - <a href="{% url 'category' post.category %}">{{ post.category }}</a>-
         {{post.author }} -
         {{ post.post_date }} -
        <small>
            {% if user.is_authenticated %}

                {% if user.id == post.author.id %}
            
                    <a href="{% url 'editar-articulo' post.pk %}">(Editar Post)</a>

                    <a href="{% url 'eliminar-articulo' post.pk %}">(Eliminar Post)</a>

                {% endif %}

            {% endif %}
            
        </small><br/>
        {{ post.snippet }}</li>

{% endfor %}
</ul>


{% endblock %}